.font-Satoshi {
  font-family: "Satoshi", sans-serif;
  /* Other styling */
  color: #c2bbbb;
}

.group:hover .animate-infinite-scroll {
  animation-play-state: paused;
}

.swiper-container {
  height: auto;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 400px !important;
  height: 250px !important;
  position: relative;
  border-radius: 2rem;
  /* border: 1px solid red; */;
  
}

.swiper-slide-1 {
  width: 100% !important;
  height: auto !important;
  position: relative;
  border-radius: 2rem;
  margin: 0 5rem !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border: 1px solid red; */;
}

@media (max-width: 600px) {
  .swiper-slide {
    width: 300px !important;
    height: 190px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
  }

.swiper-slide-1 {
  width: 100% !important;
  height: auto !important;
  position: relative;
  border-radius: 2rem;
  margin: 0 2rem !important;
}
  .swiper-slide-1 img {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 2rem;
}

}

.swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 2rem;
}
.swiper-slide-1 img {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 2rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.dropdown-item {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.dropdown-item:hover {
  color: rgb(13, 18, 44);
}

.dropdown-item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(13, 18, 44);
  animation: underline-expand 0.3s ease;
}

@keyframes underline-expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}
